// resources/scss/_variables.scss
$ccs-coral: #ff7e71;
$ccs-red: #d33333;
$ccs-maroon: #430d14;
$ccs-black: #171f22;
$ccs-teal: #2a7675;
$ccs-teal-light: #7ccbcf;
$ccs-gold: #fad48b;
$ccs-gold-dark: #a48755;

$body-bg: $ccs-black;
$body-color: #ffffff;
$primary: $ccs-red;
$secondary: $ccs-teal;
